<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwh.api.mapper.ArticleMapper">
    <insert id="insert" parameterType="com.hwh.common.domain.dto.SysUser" useGeneratedKeys="true" keyProperty="id">
        insert into article(comment_counts
            ,create_date
            ,summary
            ,title
            ,view_counts
            ,weight
            ,author_id
            ,body_id
            ,category_id)
        values(#{commentCounts}
              ,#{createDate}
              ,#{summary}
              ,#{title}
              ,#{viewCounts}
              ,#{weight}
              ,#{authorId}
              ,#{bodyId}
              ,#{categoryId})
    </insert>

    <update id="update">
        update article
        set comment_counts = #{article.commentCounts}
        ,author_id = #{article.authorId}
        ,create_date = #{article.createDate}
        ,summary = #{article.summary}
        ,title = #{article.title}
        ,view_counts = #{article.viewCounts}
        ,weight = #{article.weight}
        ,category_id = #{article.categoryId}
        ,body_id = #{article.bodyId}

        where id = #{article.id}
    </update>


    <select id="getArticle" parameterType="com.hwh.common.domain.vo.param.PageParam" resultType="com.hwh.common.domain.dto.Article">
        select id, comment_counts, create_date, summary, title, view_counts
            ,weight, author_id, body_id, category_id
        from article
        <where>
            1 = 1
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="tagId != null">
                and id in (select article_id from article_tag where tag_id = #{tagId})
            </if>
            <if test="year != null and year.length > 0 and month != null and month.length>0">
                and (FROM_UNIXTIME( create_date / 1000 , '%Y')) = #{year}
                and (FROM_UNIXTIME( create_date / 1000 , '%m')) = #{month}
            </if>
        </where>
        order by weight DESC, create_date DESC
        limit #{page}, #{pageSize}
    </select>

    <select id="getArticleById" resultType="com.hwh.common.domain.dto.Article">
        select id
            ,comment_counts
            ,create_date
            ,summary
            ,title
            ,view_counts
            ,weight
            ,author_id
            ,body_id
            ,category_id
        from article
        where id = #{id}
    </select>

    <select id="getHotArticle" resultType="com.hwh.common.domain.dto.Article">
        select id, title, create_date
        from article
        order by view_counts DESC
        limit #{size}
    </select>

    <select id="getNewArticle" resultType="com.hwh.common.domain.dto.Article">
        select id, title, create_date
        from article
        order by create_date DESC
        limit #{size}
    </select>

    <select id="getListArchives" resultType="com.hwh.common.domain.vo.Archives">
        SELECT YEAR(
            FROM_UNIXTIME( create_date / 1000 )) AS YEAR,
            MONTH (
            FROM_UNIXTIME( create_date / 1000 )) AS MONTH,
            count(*) AS count
        FROM
            article
        GROUP BY
            YEAR,MONTH
        ORDER BY
            YEAR,MONTH DESC
    </select>

</mapper>
