<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwh.api.mapper.ArticleMapper">
    <update id="update">
        update article
        set comment_counts = #{article.commentCounts}
        ,create_date = #{article.createDate}
        ,summary = #{article.summary}
        ,title = #{article.title}
        ,view_counts = #{article.viewCounts}
        ,weight = #{article.weight}
        ,category_id = #{article.categoryId}
        where id = #{article.id}
    </update>


    <select id="getArticle" resultType="com.hwh.common.domain.dto.Article">
        select * from article limit #{page}, #{pageSize}
    </select>

    <select id="getArticleById" resultType="com.hwh.common.domain.dto.Article">
        select id
            ,comment_counts
            ,create_date
            ,summary
            ,title
            ,view_counts
            ,weight
            ,author_id
            ,body_id
            ,category_id
        from article
        where id = #{id}
    </select>

    <select id="getHotArticle" resultType="com.hwh.common.domain.dto.Article">
        select id, title, create_date
        from article
        order by view_counts DESC
        limit #{size}
    </select>

    <select id="getNewArticle" resultType="com.hwh.common.domain.dto.Article">
        select id, title, create_date
        from article
        order by create_date DESC
        limit #{size}
    </select>

    <select id="getListArchives" resultType="com.hwh.common.domain.vo.Archives">
        SELECT YEAR(
            FROM_UNIXTIME( create_date / 1000 )) AS YEAR,
            MONTH (
            FROM_UNIXTIME( create_date / 1000 )) AS MONTH,
            count(*) AS count
        FROM
            article
        GROUP BY
            YEAR,MONTH
        ORDER BY
            YEAR,MONTH DESC
    </select>

    <select id="getArticleBodyById" resultType="com.hwh.common.domain.dto.ArticleBody">
        select id, content, content_html
        from article_body
        where article_id = #{articleId}
    </select>

</mapper>
