<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwh.api.mapper.ArticleMapper">


    <select id="getArticle" resultType="com.hwh.common.domain.dto.Article">
        select * from article limit #{page}, #{pageSize}
    </select>

    <select id="getArticleById" resultType="com.hwh.common.domain.dto.Article">
        select *
        from article
        where id = #{id}
    </select>

    <select id="getHotArticle" resultType="com.hwh.common.domain.dto.Article">
        select id, title, create_date
        from article
        order by view_counts DESC
        limit #{size}
    </select>

    <select id="getNewArticle" resultType="com.hwh.common.domain.dto.Article">
        select id, title, create_date
        from article
        order by create_date DESC
        limit #{size}
    </select>

    <select id="getListArchives" resultType="com.hwh.common.domain.vo.Archives">
        SELECT YEAR(
            FROM_UNIXTIME( create_date / 1000 )) AS YEAR,
            MONTH (
            FROM_UNIXTIME( create_date / 1000 )) AS MONTH,
            count(*) AS count
        FROM
            article
        GROUP BY
            YEAR,MONTH
        ORDER BY
            YEAR,MONTH DESC
    </select>

</mapper>
