<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwh.api.mapper.SysUserMapper">

    <select id="getUserById" resultType="com.hwh.common.domain.dto.SysUser">
        select *
        from sys_user
        where id = #{id}
    </select>

    <select id="getPasswordByAccount" resultType="com.hwh.common.domain.dto.SysUser">
        select id
            ,account,admin,avatar
            ,create_date,deleted
            ,email
            ,last_login
            ,mobile_phone_number
            ,nickname
            ,salt
            ,status
        from sys_user
        where account = #{account} and password = #{password}
    </select>

</mapper>