<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwh.api.mapper.TagMapper">


    <select id="getTagByArticleId" resultType="com.hwh.common.domain.dto.Tag">
        select id, avatar, tag_name
        from tag
        <where>
            id in
            (select tag_id from article_tag where article_id = #{articleId})
        </where>
    </select>

    <select id="findHostTagIds" resultType="java.lang.Long">
        select tag_id from article_tag
        group by tag_id
        order by count(1) DESC
        limit #{size}
    </select>

    <select id="getTagByTagIds" parameterType="list" resultType="com.hwh.common.domain.dto.Tag">
        select id, tag_name
        from tag
        where id in
        <foreach collection="tagIds" item="tagId" separator="," open="(" close=")">
            #{tagId}
        </foreach>
    </select>

    <select id="findAll" resultType="com.hwh.common.domain.dto.Tag">
        select id, tag_name
        from tag
    </select>

    <select id="findAllDetail" resultType="com.hwh.common.domain.dto.Tag">
        select id, tag_name, avatar
        from tag
    </select>


</mapper>